<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">Formulario de categorias</h3>
        </div>
        <div class="card-body">
          <!-- Agrega el formulario Angular -->
          <form [formGroup]="formularioCategoria" (submit)="crearCategoria()">
            <div class="form-group">
              <label for="nombreCategoria">Nombre de la Categoría:</label>
              <!-- Agrega la directiva [(ngModel)] y el nombre del control -->
              <input type="text" class="form-control" id="nombreCategoria" placeholder="Ingrese el nombre de la categoría"  name="nombre_categoria" formControlName="nombre_categoria">
            </div>
            <!-- No es necesario incluir un campo para el ID, ya que se genera automáticamente -->
            <div class="text-center mt-5">
              <!-- Cambia el botón para que envíe el formulario -->
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>

      </tr>
    </thead>
    <tbody>
      @for (categorias of categoriasLista; track $index) {
        <tr>
          <th scope="row">{{categorias.id_categoria}}</th>
          <td>{{categorias.nombre_categoria}}</td>
          <td> <button type="button" class="btn btn-warning" (click)="abrirModalEditar(categorias)" data-bs-toggle="modal" data-bs-target="#modalEditar">Actualizar</button> </td>
          <td> <button type="button" class="btn btn-danger"  (click)="eliminarCategoria(categorias.id_categoria)">Eliminar</button> </td>
        </tr>
      }

    </tbody>
  </table>
</div>


<!-- MODAL PARA EDITAR -->
<div class="modal" tabindex="-1" id="modalEditar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar categoria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioCategoria">
          <div class="form-group">
            <label for="nombreCategoria">Nuevo nombre de la Categoría:</label>
            <!-- Agrega la directiva [(ngModel)] y el nombre del control -->
            <input type="text" class="form-control" id="nombreCategoria" placeholder="Ingrese el nombre de la categoría"  name="nombre_categoria" formControlName="nombre_categoria">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarCambios()" data-bs-dismiss="modal">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>